html { box-sizing: border-box; }

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(247, 247, 247);
}

a {
    color: black;
    text-decoration: none;
}

a:hover { color: rgb(89, 32, 129); }

section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 8px;
    border-bottom: 1px solid rgb(177, 174, 174);
}

.title {
    font-weight: bold;
    font-size: 20px;
}

img {
    height: 140px;
    border-radius: 70px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

ul { padding-left: 20px; }

.code {
    color: rgb(78, 3, 131);
    font-size: 14px;
    padding: 5px 20px;
}